.idea
.venv
.dist
.build
.Midas.spec
.gitattributes
key_box/build/Midas/localpycs/pyimod01_archive.pyc
key_box/build/Midas/localpycs/pyimod04_pywin32.pyc
key_box/build/Midas/EXE-00.toc
key_box/build/Midas/base_library.zip
key_box/build/Midas/Analysis-00.toc
key_box/build/Midas/localpycs/pyimod02_importers.pyc
key_box/build/Midas/localpycs/struct.pyc
key_box/build/Midas/PKG-00.toc
key_box/build/Midas/Midas.pkg
key_box/dist/Midas.exe
key_box/build/Midas/xref-Midas.html
key_box/dist/keys.csv
*.toc
key_box/build/Midas/Tree-00.toc
key_box/build/Midas/Midas.exe.manifest
key_box/build/Midas/PYZ-00.pyz
key_box/build/Midas/warn-Midas.txt
key_box/build/Midas/localpycs/pyimod03_ctypes.pyc
key_box/__pycache__/functions.cpython-310.pyc
key_box/__pycache__/functions.cpython-310.pyc
key_box/Midas.spec
key_box/__pycache__/functions.cpython-310.pyc
key_box/__pycache__/functions.cpython-310.pyc
